<style>
    .centered-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        text-align: center;
    }
</style>
<div class="centered-content">
    <h1>Edit the user</h1>
    
</div>

<%=render "form", user: @user%>