<p>
    <strong>Poster: </strong>
    <%=post.poster%>
</p>
<p>
    <strong>Title: </strong>
    <%=post.title%>
    <%=link_to "Go to the post", user_post_path(post.user, post)%>
</p>
<p>
    <%=link_to "delete", [post.user, post], data:{
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    }%>
</p>