<header>
    <nav>
        <ul>
            <li>
                <%=link_to 'Find users', root_path%>
            </li>
            <li>
                <%=link_to 'My profile', root_path%>
            </li>
            <li>
                <%=link_to 'Find users', root_path%>
            </li>
        </ul>
    </nav>
</header>